*{
    box-sizing: border-box;
}
body{
    background: url(images/pattern-background-desktop.svg) no-repeat;
    background-color: hsl(225, 100%, 94%);
}


.mainmenu{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    width: 300px;
    /* height: fit-content; */
    border-radius: 50px;
 }

.card-top{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    height: 200px;
    background: url(images/illustration-hero.svg);
    background-size: cover;
}

.card-bottom{
 text-align: center;
 background-color: white;
 padding: 1px;
 border-radius: 0px 0px 20px 20px;
}

.plan{
    
}

.plan-content{
    border-radius: 15px ;
    display: flex;
    align-items: center;
    padding: 15px 10px;
    width: 80%;
    margin: 0 auto;
    background-color: hsl(225, 100%, 98%);
}
.music{
    flex: 1;
}
.price{
    padding-left: 10px;
    flex: 4;
    text-align: left;
}

.change{
    flex: 1;
    color: blue;
    text-decoration: underline;
}

.change:hover{
    cursor: pointer;
    color: blue;
    font-weight: bold;
    
}


.pay{
    margin: 30px auto 20px auto;
    width: 80%;
    text-align: center;
    background-color: hsl(245, 75%, 52%);
    padding: 10px 0px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: -12px 12px 2px 1px hsla(235, 100%, 98%, 1);
}

.pay:hover{
    cursor: pointer;
    background-color: hsl(245, 75%, 52%);
}

.cancel{
    font-weight: bold;
    margin-bottom: 30px;
}

.cancel:hover{
    cursor: pointer;
}
